/* ==========================================
   1. STYLES (Variables, Colors, Fonts)
   ========================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Zilla+Slab:wght@500;700&display=swap');

/* --- COLORS & VARS --- */
:root {
  --primary-red: #ff2143;
  --bg-dark: #111111;
  --bg-card: #1c1c1c;
  --font-titles: 'Zilla Slab', serif;
  --font-body: 'Roboto', sans-serif;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;
  --border-color: #333333;
  --nav-height: 80px;
  --nav-transition: 0.3s ease-in-out;
}

/* --- FONTS --- */

h1, h2, h3 {
  font-family: var(--font-titles);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--font-titles);
  font-weight: 700;
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  letter-spacing: 0.15rem; /* Espacement pour la lisibilité */
  color: var(--text-main);
  text-shadow: 
    2px 2px 4px rgba(42, 27, 10, 0.3),
    0px 0px 20px rgba(93, 64, 55, 0.6);
}

h2 {
  font-family: var(--font-titles);
  font-weight: 500;
  font-size: clamp(1.2rem, 3vw, 2rem);
  letter-spacing: 0.1rem;
  color: var(--text-main);
  text-shadow: 1px 1px 5px rgba(42, 27, 10, 0.9),
   0px 0px 20px rgba(93, 64, 55, 0.8);
}

/* ==========================================
   2. BASE & RESET
   ========================================== */

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* padding-top: 80px; Navbar height */
  /* min-height: 100vh; */
  width: 100%;
  padding-top: 0; /* On a enlevé le padding de 80px, n'est-ce pas ? */
  display: block;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: var(--font-body);
}

 /* Accessibility design */
:focus {
  outline: none;
}


